body {
    color: #070720;
    margin: 0;
    text-align: center;
    font-family: "Muli", serif;
  }
  
  h1 {
    color: #cddaff;
    font-size: 5.625rem;
    margin: 50px auto 0 auto;
    font-family: "Space Mono";
    z-index: 1000;
  }
  
  h2 {
    color: #7386be;
    font-family: "Muli", sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    padding-bottom: 10px;
    z-index: 500;
  }
  
  h3 {
    color: #7386be;
    font-family: "Muli", sans-serif;
  }
  
  p {
    line-height: 2;
  }
  
  hr {
    border: dotted #070720 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
  }
  
  a {
    color: #070720;
    font-family: "Muli", sans-serif;
    margin: 10px 20px;
    text-decoration: none;
  }
  
  a:hover {
    color: #eaf6f6;
  }
  
  .top-container {
    background-color: #070720;
    position: relative;
    padding-top: 100px;
    z-index: -15;
  }
  
  .middle-container {
    margin: 100px 0;
  }
  
  .bottom-container {
    background-color: #070720;
    padding: 50px 0 20px;
  }
  
  .skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
  }
  
  .pro {
    text-decoration: underline;
  }
  
  .intro {
    width: 30%;
    margin: auto;
  }
  
  .contact-message {
    width: 40%;
    margin: 40px auto 60px;
  }
  
  .copyright {
    color: #ffffff;
    font-size: 0.75rem;
    padding: 20px 0;
  }
  
  .planet1 {
    position: absolute;
    right: 300px;
    top: 150px;
    width: 300px;
    z-index: -1;
    animation: float 8s ease-in-out infinite;
  }
  
  .planet2 {
    position: absolute;
    left: 250px;
    top: 50px;
    width: 200px;
    z-index: -2;
    animation: float 4s ease-in-out infinite;
  }

  @keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}

  .rocket {
    position: relative;
    width: 400px;
    bottom: -47px;
  }
  
  .code-img {
    width: 25%;
    float: left;
    margin-right: 30px;
  }
  
  .space-img {
    width: 50%;
    margin-left: 30px;
  }
  
  .btn {
    background: #070720;
    background-image: -webkit-linear-gradient(top, #7386be, #070720);
    background-image: -moz-linear-gradient(top, #7386be, #070720);
    background-image: -ms-linear-gradient(top, #7386be, #070720);
    background-image: -o-linear-gradient(top, #7386be, #070720);
    background-image: linear-gradient(to bottom, #7386be, #070720);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: "Muli", sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #070720;
    background-image: -webkit-linear-gradient(top, #070720, #7386be);
    background-image: -moz-linear-gradient(top, #070720, #7386be);
    background-image: -ms-linear-gradient(top, #070720, #7386be);
    background-image: -o-linear-gradient(top, #070720, #7386be);
    background-image: linear-gradient(to bottom, #070720, #7386be);
    text-decoration: none;
  }
  
  .parent {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: repeat(1, 1fr);
    width: 50%;
    margin: 100px auto 0 auto;
    text-align: left;
    row-gap: 2rem;
  }

  .footer-link {
    color: #7575c0;
    text-decoration: underline;
  }
  

  